.jdi-constructor-mainbox {
	font-family: arial, tahoma;
	font-size: 12px;
}
.jdi-clear {
	clear: both;
}
.jdi-select {
	display: block;
	overflow: hidden;
	height: 16px;
	background: #77b;
	float: left;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.jdi-select-hover.hover {
	overflow: visible;
	position: relative;
}
.jdi-option {
	padding: 0 4px;
	color: #fff;
	height: 16px;
	line-height: 16px;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	display: block;
	text-decoration: none;
	white-space: nowrap;
}
.jdi-option:hover {
	text-decoration: underline;
	color: #fff;
}
.jdi-option-first {
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.jdi-option-last {
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.jdi-select-hover.hover .jdi-options-container {
	position: absolute;
	z-index: 100;
}
.jdi-select-hover.hover .jdi-option {
	background: #77b;
}
.jdi-control-label {
	font-size: 11px;
	color: #777;
	float: left;
	margin-right: 4px;
}
.jdi-control-add {
	float: left;
}
.jdi-thread {
	margin-top: 4px;
	padding: 4px;
	background: #ddd;
	border: 1px solid #aaa;
}
.jdi-thread.jdi-first-block {
	margin-top: 0;
}
.jdi-thread-container {
	margin-bottom: 4px;
	padding: 4px;
	border: 1px solid #aaa;
	background: #fff;	
}
.jdi-input {
	border: 1px solid #acc;
}
.jdi-step-header {
	font-size: 18px;
	color: #888;
	font-family: times;
	padding: 0 0 4px 2px;
	float: left;
}
.jdi-step-goto .jdi-step-header {
	padding: 0 0 0 2px;
}
.jdi-control-step {
	float: right;
	height: 18px;
	line-height: 18px;
}
.jdi-control-step a {
	display: inline-block;
	padding: 0 3px;
	margin-right: 3px;
	background: #77b;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.jdi-control-step a.jdi-button-last {
	margin-right: 0;
}
.jdi-control-step a:hover {
	text-decoration: underline;
	color: #fff;
}
.jdi-control-step a.jdi-delete {
	background: #e66;
}
.jdi-input-step-no {
	width: 30px;
}
.jdi-input-goto-step-no {
	width: 30px;
}
.jdi-input-step-description {
	width: 100%;
	height: 65px;
}
.jdi-step {
	margin-top: 5px;
	padding: 5px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #aaa;
}
.jdi-step.jdi-first-block {
	margin-top: 0;
}
.jdi-thread-text {
	padding: 4px;
	font-size: 14px;
	color: #69b;
	font-family: times;
	font-weight: bold;
}
.jdi-input.jdi-fresh {
	color: #bbb;
}
.jdi-thread-input {
	margin-bottom: 4px;
	width: 100%;
}
.jdi-variant-delete {
	display: block;
	float: right;
	padding: 0 3px;
	background: #e66;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height: 16px;
	line-height: 16px;
}
.jdi-variant-delete:hover {
	text-decoration: underline;
	color: #fff;
}
.jdi-timer-label {
	margin-top: 4px;
	color: #777;
}
.jdi-input-timer {
	width: 80px;
}
.jdi-input-expression {
	width: 100%;
}
