.jdiv-main-container {
	color: #222;
	font-family: arial, tahoma;
	font-size: 12px;
	padding: 5px 0;
}
.jdiv-control {
	padding: 5px 0;
}
.jdiv-view {
	min-height: 50px;
	margin-bottom: 5px;
	padding: 5px 8px;
	line-height: 160%;
}
.jdiv-view a {
	color: #559;
	text-decoration: none;
}
.jdiv-view a:hover {
	text-decoration: underline;
}
.jdiv-control {
	text-align: left;
}
.jdiv-button {
	display: none;
	margin-right: 4px;
}
.jdiv-timer {
	vertical-align: middle;
	display: none;
	color: #666;
	font-size: 16px;
	font-weight: bold;
	margin-right: 10px;
	margin-left: 8px;
}
.jdiv-button.jdiv-visible, .jdiv-timer.jdiv-visible {
	display: inline-block;
}
.jdiv-button a {
	color: #77a;
	font-weight: bold;
	padding: 4px 8px;
	display: inline-block;
	text-decoration: none;
}
.jdiv-button a:hover {
	background: #ddf;
}
.jdiv-case {
	margin-top: 4px;
}
.jdiv-case.jdiv-first {
	margin-top: 0;
}
.jdiv-case a {
	display: block;
	text-align: left;
	padding: 4px 8px;
	color: #77a;
	text-decoration: none;
}
.jdiv-case a:hover {
	background: #ddf;
}
.jdiv-image img {
	vertical-align: middle;
	border: 1px solid #eee;
}
.jdiv-imageleft {
	display: block;
	text-align: left;
}
.jdiv-imageleft img {
	border: 1px solid #eee;
}
.jdiv-imageright {
	display: block;
	text-align: right;
}
.jdiv-imageright img {
	border: 1px solid #eee;
}
.jdiv-imagecenter {
	display: block;
	text-align: center;
}
.jdiv-imagecenter img {
	border: 1px solid #eee;
}
.jdiv-copy {
	font-size: 10px;
	color: #999;
	text-align: right;
	padding: 2px 0 2px 0;
	line-height: 100%;
}
.jdiv-copy a {
	font-size: 10px;
	color: #44b;
	display: inline-block;
	border-bottom: 1px solid #aaf;
	text-decoration: none;
}
.jdiv-copy a:hover {
	color: #aaf;
	text-decoration: none;
}
