.jdiv-main-container {
	border: 1px solid #aaa;
	color: #222;
	font-family: arial, tahoma;
	font-size: 12px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	position: relative;
}
.jdiv-view, .jdiv-control {
	background: #fff;
}
.jdiv-view {
	min-height: 50px;
	line-height: 160%;
	font-size: 14px;
	font-family: times;
	padding: 5px;
	color: #444;
	border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
}
.jdiv-view a {
	color: #559;
	text-decoration: none;
}
.jdiv-view a:hover {
	text-decoration: underline;
}
.jdiv-control {
	clear: both;
	text-align: left;
	padding: 5px;
	border-radius: 0px 0px 6px 6px;
	-webkit-border-radius: 0px 0px 6px 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
}
.jdiv-button {
	display: inline-block;
	margin-right: 4px;
}
.jdiv-button a {
	display: inline-block;
	height: 20px;
	border: 1px solid #8084af;
	padding-right: 5px;
	padding-left: 5px;
	background-color: #9a90c4;
	line-height: 20px;
	color: #ffffff;
	font-weight: bold;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	text-shadow: 0px 1px 1px #000000;
	background-image: linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(0,0,0,0.3) 100%);
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(0,0,0,0.3) 100%);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(0,0,0,0.3) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(0,0,0,0.3) 100%);
	text-decoration: none;
}
.jdiv-hidden {
	display: none !important;
}
.jdiv-timer {
	vertical-align: middle;
	display: inline-block;
	color: #666;
	font-size: 16px;
	font-weight: bold;
	margin-right: 10px;
}
.jdiv-userinput-container {
	display: inline-block;
}
.jdiv-case {
	margin-top: 4px;
}
.jdiv-case.jdiv-first {
	margin-top: 0;
}
.jdiv-case a {
	display: block;
	text-align: left;
	padding: 2px 4px;
	color: #966;
	text-decoration: none;
	font-weight: bold;
	margin-right: 15px;
}
.jdiv-case a:hover {
	color: #fff;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #aaf;
	background-image: linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(0,0,0,0.3) 100%);
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(0,0,0,0.3) 100%);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(0,0,0,0.3) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(0,0,0,0.3) 100%);
	text-shadow: 0px 1px 1px #000000;
}
.jim {
	clear: both;
	display: block;
}
.jim img {
	vertical-align: middle;
	border: 1px solid #eee;
}
.align-left {
	float: left;
	margin: 0 5px 5px 0;
}
.align-right {
	float: right;
	margin: 0 0 5px 5px;
}
.align-center {
	margin: 0 0 5px 0;
	text-align: center;
}
.jdiv-copy {
	font-size: 10px;
	color: #555;
	text-align: right;
	padding: 3px 5px 3px 0;
	line-height: 100%;
	font-family: arial, tahoma;
}
.jdiv-copy a {
	font-size: 10px;
	color: #888;
	display: inline-block;
	border-bottom: 1px solid #aaf;
	text-decoration: none;
}
.jdiv-copy a:hover {
	color: #aaf;
	text-decoration: none;
}
.jdiv-userinput-container {
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 0;
}
.jdiv-userinput-container input {
	border: 1px solid #aaa;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-size: 12px;
	padding: 3px 5px;
}
.jdiv-userinput-container input:focus {
	outline: none;
}
.jdiv-hardreser {
	position: absolute;
	width: 10px;
	height: 10px;
	display: block;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: red;
	bottom: 5px;
	right: 5px;
	background-image: linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(0,0,0,0.3) 100%);
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(0,0,0,0.3) 100%);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(0,0,0,0.3) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(0,0,0,0.3) 100%);
}
