.jdiv-main-container {
	color: #222;
	font-family: arial, tahoma;
	font-size: 12px;
	position: relative;
	background: f6f6f6;
	padding: 5px;
}
.jdiv-view {
	min-height: 50px;
	line-height: 160%;
	font-size: 14px;
	font-family: times;
	color: #444;
}
.jdiv-view a {
	color: #559;
	text-decoration: none;
}
.jdiv-view a:hover {
	text-decoration: underline;
}
.jdiv-control {
	clear: both;
	text-align: left;
}
.jdiv-button {
	display: inline-block;
	margin-right: 10px;
}
.jdiv-button a {
	display: inline-block;
	color: #99f;
	font-weight: bold;
	text-decoration: none;
}
.jdiv-button a:hover {
	text-decoration: underline;
}
.jdiv-hidden {
	display: none !important;
}
.jdiv-timer {
	vertical-align: baseline;
	display: inline-block;
	color: #666;
	font-size: 14px;
	font-weight: bold;
	margin-right: 10px;
}
.jdiv-userinput-container {
	display: inline-block;
}
.jdiv-case {
	margin-top: 4px;
}
.jdiv-case.jdiv-first {
	margin-top: 0;
}
.jdiv-case a {
	display: block;
	text-align: left;
	padding: 2px 4px;
	color: #966;
	text-decoration: none;
	font-weight: bold;
	margin-right: 15px;
}
.jdiv-case a:hover {
	text-decoration: underline;
}
.jim {
	clear: both;
	display: block;
}
.jim img {
	vertical-align: middle;
	border: 1px solid #eee;
}
.align-left {
	float: left;
	margin: 0 5px 5px 0;
}
.align-right {
	float: right;
	margin: 0 0 5px 5px;
}
.align-center {
	margin: 0 0 5px 0;
	text-align: center;
}
.jdiv-copy {
	font-size: 10px;
	color: #555;
	text-align: right;
	padding: 3px 5px 3px 0;
	line-height: 100%;
	font-family: arial, tahoma;
}
.jdiv-copy a {
	font-size: 10px;
	color: #888;
	display: inline-block;
	border-bottom: 1px solid #aaf;
	text-decoration: none;
}
.jdiv-copy a:hover {
	color: #aaf;
	text-decoration: none;
}
.jdiv-userinput-container {
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 0;
}
.jdiv-userinput-container input {
	border: 1px solid #aaa;
	font-size: 12px;
	padding: 1px 5px;
}
.jdiv-userinput-container input:focus {
	outline: none;
}
.jdiv-hardreser {
	position: absolute;
	width: 10px;
	height: 10px;
	display: block;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: #c44;
	bottom: 5px;
	right: 5px;
}
