.jdiv-main-container {
	border: 1px solid #aaa;
	color: #222;
	font-family: arial, tahoma;
	font-size: 12px;
	padding: 5px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #bbd;
}
.jdiv-view, .jdiv-control {
	padding: 5px;
	border: 1px solid #aaa;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #fff;
}
.jdiv-view {
	min-height: 50px;
	margin-bottom: 5px;
	line-height: 160%;
	font-size: 16px;
	font-family: times;
}
.jdiv-view a {
	color: #559;
	text-decoration: none;
}
.jdiv-view a:hover {
	text-decoration: underline;
}
.jdiv-control {
	text-align: right;
}
.jdiv-button {
	padding: 4px 8px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #77b;
	display: none;
	margin-left: 4px;
}
.jdiv-timer {
	vertical-align: middle;
	display: none;
	color: #666;
	font-size: 16px;
	font-weight: bold;
	margin-right: 10px;
}
.jdiv-button.jdiv-visible, .jdiv-timer.jdiv-visible {
	display: inline-block;
}
.jdiv-button a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
.jdiv-button a:hover {
	text-decoration: underline;
}
.jdiv-case {
	margin-top: 4px;
}
.jdiv-case.jdiv-first {
	margin-top: 0;
}
.jdiv-case a {
	display: block;
	text-align: left;
	padding: 4px;
	color: #448;
	text-decoration: none;
}
.jdiv-case a:hover {
	color: #fff;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #aaf;
}
.jdiv-image img {
	vertical-align: middle;
	border: 1px solid #eee;
}
.jdiv-imageleft {
	display: block;
	text-align: left;
}
.jdiv-imageleft img {
	border: 1px solid #eee;
}
.jdiv-imageright {
	display: block;
	text-align: right;
}
.jdiv-imageright img {
	border: 1px solid #eee;
}
.jdiv-imagecenter {
	display: block;
	text-align: center;
}
.jdiv-imagecenter img {
	border: 1px solid #eee;
}
